span {
    display: inline-block;
}

body {
    position: relative;
    text-align: center;
    margin: 0;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(49, 99, 39));
}

img {
    height: 150px;
    width: 150px;
}

.banner {
    width:100%;
    height: 250px;

}

.mini {
    margin: 25px;
}

.icon   {
    margin: 20px;
}